<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_157cfdc77a7449849a51eaff4b3ef6b6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_157cfdc77a7449849a51eaff4b3ef6b6" ></div>
        
</body>
<script>    
    
            var map_157cfdc77a7449849a51eaff4b3ef6b6 = L.map(
                "map_157cfdc77a7449849a51eaff4b3ef6b6",
                {
                    center: [13.000624, 77.615961],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_37038b70572047ad86629744a2cd68a5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
            var circle_marker_02efec5b4fba4f58ae0ea2f8c3f55278 = L.circleMarker(
                [13.000344032050712, 77.61717414213247],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_c8b45060eb7a46cdb4cfc0aaabb4b2ef = L.popup({"maxWidth": 300});

        
            var html_d345b91b13a54a58a55522a0ea2613bb = $(`<div id="html_d345b91b13a54a58a55522a0ea2613bb" style="width: 100.0%; height: 100.0%;">Chichaba's Taj</div>`)[0];
            popup_c8b45060eb7a46cdb4cfc0aaabb4b2ef.setContent(html_d345b91b13a54a58a55522a0ea2613bb);
        

        circle_marker_02efec5b4fba4f58ae0ea2f8c3f55278.bindPopup(popup_c8b45060eb7a46cdb4cfc0aaabb4b2ef)
        ;

        
    
    
            var circle_marker_08e479e0a2a74b58a8713ea27e538edf = L.circleMarker(
                [12.999701335578491, 77.6159954785076],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_a3c053d4c43b4a63a18140b3544e4a01 = L.popup({"maxWidth": 300});

        
            var html_be09900aea294ec2a8dc318a6b5e19c2 = $(`<div id="html_be09900aea294ec2a8dc318a6b5e19c2" style="width: 100.0%; height: 100.0%;">Karama Restaurant</div>`)[0];
            popup_a3c053d4c43b4a63a18140b3544e4a01.setContent(html_be09900aea294ec2a8dc318a6b5e19c2);
        

        circle_marker_08e479e0a2a74b58a8713ea27e538edf.bindPopup(popup_a3c053d4c43b4a63a18140b3544e4a01)
        ;

        
    
    
            var circle_marker_ff0665bd19014d78a0910b8afac379c9 = L.circleMarker(
                [13.000869, 77.613731],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_1a1c86fef74642328fc962e8ff7c0dfe = L.popup({"maxWidth": 300});

        
            var html_aff42c8bc17e43998b0f1b95f9a359ea = $(`<div id="html_aff42c8bc17e43998b0f1b95f9a359ea" style="width: 100.0%; height: 100.0%;">Lassi Shop Downtown</div>`)[0];
            popup_1a1c86fef74642328fc962e8ff7c0dfe.setContent(html_aff42c8bc17e43998b0f1b95f9a359ea);
        

        circle_marker_ff0665bd19014d78a0910b8afac379c9.bindPopup(popup_1a1c86fef74642328fc962e8ff7c0dfe)
        ;

        
    
    
            var circle_marker_0c0894df428b484ba41b6517f4457c30 = L.circleMarker(
                [13.00093012242617, 77.61315015141524],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_1979a664d4b043f7960ee5bb7ae0bce6 = L.popup({"maxWidth": 300});

        
            var html_56fbdc2a0e464ce9ad2b3a417b1dd31f = $(`<div id="html_56fbdc2a0e464ce9ad2b3a417b1dd31f" style="width: 100.0%; height: 100.0%;">Richies - Frazer Town</div>`)[0];
            popup_1979a664d4b043f7960ee5bb7ae0bce6.setContent(html_56fbdc2a0e464ce9ad2b3a417b1dd31f);
        

        circle_marker_0c0894df428b484ba41b6517f4457c30.bindPopup(popup_1979a664d4b043f7960ee5bb7ae0bce6)
        ;

        
    
    
            var circle_marker_36a11bcab1d846b580e05936182fe0a6 = L.circleMarker(
                [12.999503910015576, 77.61588670688414],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_23e96bef848c4fb4ab9e7add9b9c4921 = L.popup({"maxWidth": 300});

        
            var html_18417491537b4011901c84c40913829c = $(`<div id="html_18417491537b4011901c84c40913829c" style="width: 100.0%; height: 100.0%;">Savoury Restaurant</div>`)[0];
            popup_23e96bef848c4fb4ab9e7add9b9c4921.setContent(html_18417491537b4011901c84c40913829c);
        

        circle_marker_36a11bcab1d846b580e05936182fe0a6.bindPopup(popup_23e96bef848c4fb4ab9e7add9b9c4921)
        ;

        
    
    
            var circle_marker_f1dd98b5529f46688cc41e25567e24c0 = L.circleMarker(
                [12.99938717332518, 77.61590165231206],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_6042fe1c0a0140e9927966d3e029de08 = L.popup({"maxWidth": 300});

        
            var html_8ea63d2dce3c499cb3b6d079a4dded68 = $(`<div id="html_8ea63d2dce3c499cb3b6d079a4dded68" style="width: 100.0%; height: 100.0%;">Taj Tea House</div>`)[0];
            popup_6042fe1c0a0140e9927966d3e029de08.setContent(html_8ea63d2dce3c499cb3b6d079a4dded68);
        

        circle_marker_f1dd98b5529f46688cc41e25567e24c0.bindPopup(popup_6042fe1c0a0140e9927966d3e029de08)
        ;

        
    
    
            var circle_marker_c9c42d33c0b74fb68900ea495fdbcf6c = L.circleMarker(
                [13.000696251077127, 77.61528942135958],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_8c56c7c7dce74dd5a58d4cfae37fdc67 = L.popup({"maxWidth": 300});

        
            var html_1828fcc8eb6644c2a60e3f2e90c43dc8 = $(`<div id="html_1828fcc8eb6644c2a60e3f2e90c43dc8" style="width: 100.0%; height: 100.0%;">Bombay Chowpatty Kulfi</div>`)[0];
            popup_8c56c7c7dce74dd5a58d4cfae37fdc67.setContent(html_1828fcc8eb6644c2a60e3f2e90c43dc8);
        

        circle_marker_c9c42d33c0b74fb68900ea495fdbcf6c.bindPopup(popup_8c56c7c7dce74dd5a58d4cfae37fdc67)
        ;

        
    
    
            var circle_marker_42e8ecf0d3e14c729290381eaca8051c = L.circleMarker(
                [12.998117022455647, 77.61506832474646],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_b0f830242c1e4df4940d9d9a6c3deccc = L.popup({"maxWidth": 300});

        
            var html_d79c83e89564400d98c1ccefd2ac653b = $(`<div id="html_d79c83e89564400d98c1ccefd2ac653b" style="width: 100.0%; height: 100.0%;">Paradise</div>`)[0];
            popup_b0f830242c1e4df4940d9d9a6c3deccc.setContent(html_d79c83e89564400d98c1ccefd2ac653b);
        

        circle_marker_42e8ecf0d3e14c729290381eaca8051c.bindPopup(popup_b0f830242c1e4df4940d9d9a6c3deccc)
        ;

        
    
    
            var circle_marker_b04fd61864074845a3c070677eba9bf8 = L.circleMarker(
                [13.004834736231997, 77.61719348487793],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_8882f0c85bdc41df857577c8272cbc88 = L.popup({"maxWidth": 300});

        
            var html_77fcb56328dc4242bcf8e20537dcc800 = $(`<div id="html_77fcb56328dc4242bcf8e20537dcc800" style="width: 100.0%; height: 100.0%;">Corner House</div>`)[0];
            popup_8882f0c85bdc41df857577c8272cbc88.setContent(html_77fcb56328dc4242bcf8e20537dcc800);
        

        circle_marker_b04fd61864074845a3c070677eba9bf8.bindPopup(popup_8882f0c85bdc41df857577c8272cbc88)
        ;

        
    
    
            var circle_marker_b2a13eeecbfe4090b585685c3392d9f7 = L.circleMarker(
                [13.000852, 77.613012],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_e401b91c18dc4eab9382dc65c91cf91f = L.popup({"maxWidth": 300});

        
            var html_8f9bef729b174107918923309057cd0d = $(`<div id="html_8f9bef729b174107918923309057cd0d" style="width: 100.0%; height: 100.0%;">Taste Of Mumbai -HajiAli-</div>`)[0];
            popup_e401b91c18dc4eab9382dc65c91cf91f.setContent(html_8f9bef729b174107918923309057cd0d);
        

        circle_marker_b2a13eeecbfe4090b585685c3392d9f7.bindPopup(popup_e401b91c18dc4eab9382dc65c91cf91f)
        ;

        
    
    
            var circle_marker_be3da68f0699476590e220b050ec46b3 = L.circleMarker(
                [13.004261796386444, 77.61739572327386],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_9a4c4cb5f35f4f5abd8cb6a05f9e0e08 = L.popup({"maxWidth": 300});

        
            var html_ec579cdcf8464f138e438545e0c748b7 = $(`<div id="html_ec579cdcf8464f138e438545e0c748b7" style="width: 100.0%; height: 100.0%;">Richard's Park</div>`)[0];
            popup_9a4c4cb5f35f4f5abd8cb6a05f9e0e08.setContent(html_ec579cdcf8464f138e438545e0c748b7);
        

        circle_marker_be3da68f0699476590e220b050ec46b3.bindPopup(popup_9a4c4cb5f35f4f5abd8cb6a05f9e0e08)
        ;

        
    
    
            var circle_marker_2ca8ee5d7dfe42179b937835c45bc8e2 = L.circleMarker(
                [13.003507027328038, 77.61685871548279],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_64f843b890db4027a4aac42a825435e0 = L.popup({"maxWidth": 300});

        
            var html_d052ba3d253c40a18a06b42c3573e5ce = $(`<div id="html_d052ba3d253c40a18a06b42c3573e5ce" style="width: 100.0%; height: 100.0%;">Happy Belly</div>`)[0];
            popup_64f843b890db4027a4aac42a825435e0.setContent(html_d052ba3d253c40a18a06b42c3573e5ce);
        

        circle_marker_2ca8ee5d7dfe42179b937835c45bc8e2.bindPopup(popup_64f843b890db4027a4aac42a825435e0)
        ;

        
    
    
            var circle_marker_b543ea808b644584acfc69ba749e9da9 = L.circleMarker(
                [12.996995033361847, 77.61430781984627],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_52e8acebc026449098d3d6b6a17a32da = L.popup({"maxWidth": 300});

        
            var html_1ea2bbd55ac24bfaba71fa4c51384f02 = $(`<div id="html_1ea2bbd55ac24bfaba71fa4c51384f02" style="width: 100.0%; height: 100.0%;">Albert Bakery</div>`)[0];
            popup_52e8acebc026449098d3d6b6a17a32da.setContent(html_1ea2bbd55ac24bfaba71fa4c51384f02);
        

        circle_marker_b543ea808b644584acfc69ba749e9da9.bindPopup(popup_52e8acebc026449098d3d6b6a17a32da)
        ;

        
    
    
            var circle_marker_16992b681eb74de4b440bf26b3bdf045 = L.circleMarker(
                [13.003229888642652, 77.61637363819531],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_3b09c78a26fc4a6bafdc695abfca26aa = L.popup({"maxWidth": 300});

        
            var html_a97705e544784e05af22584ca84410f1 = $(`<div id="html_a97705e544784e05af22584ca84410f1" style="width: 100.0%; height: 100.0%;">French Loaf</div>`)[0];
            popup_3b09c78a26fc4a6bafdc695abfca26aa.setContent(html_a97705e544784e05af22584ca84410f1);
        

        circle_marker_16992b681eb74de4b440bf26b3bdf045.bindPopup(popup_3b09c78a26fc4a6bafdc695abfca26aa)
        ;

        
    
    
            var circle_marker_72f887cadee84681beccc9fa5b66dbbb = L.circleMarker(
                [13.000700070139045, 77.61480303926635],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_1275a86e800c4391b7de75248c1ff34b = L.popup({"maxWidth": 300});

        
            var html_9111f90aac7c4e9092afdfce267a8695 = $(`<div id="html_9111f90aac7c4e9092afdfce267a8695" style="width: 100.0%; height: 100.0%;">Alibaba Cafe & Restaurant</div>`)[0];
            popup_1275a86e800c4391b7de75248c1ff34b.setContent(html_9111f90aac7c4e9092afdfce267a8695);
        

        circle_marker_72f887cadee84681beccc9fa5b66dbbb.bindPopup(popup_1275a86e800c4391b7de75248c1ff34b)
        ;

        
    
    
            var circle_marker_79e9261cf1e64bdaad232aa08e949d27 = L.circleMarker(
                [12.996758302886766, 77.61415077941633],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_36452ef7cd4b4c97a5bba12faa5a7084 = L.popup({"maxWidth": 300});

        
            var html_19fc21e7ed964bb0944c7e2bb099df7a = $(`<div id="html_19fc21e7ed964bb0944c7e2bb099df7a" style="width: 100.0%; height: 100.0%;">Pista House Haleem</div>`)[0];
            popup_36452ef7cd4b4c97a5bba12faa5a7084.setContent(html_19fc21e7ed964bb0944c7e2bb099df7a);
        

        circle_marker_79e9261cf1e64bdaad232aa08e949d27.bindPopup(popup_36452ef7cd4b4c97a5bba12faa5a7084)
        ;

        
    
    
            var circle_marker_e1a59c008472455a97cd4a98ae50d89a = L.circleMarker(
                [12.999815232463462, 77.61597009564713],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_05aaddaf3a264be880a9bf3bf178a2f3 = L.popup({"maxWidth": 300});

        
            var html_5cf6db17572a4c14bccfcc4861fe537e = $(`<div id="html_5cf6db17572a4c14bccfcc4861fe537e" style="width: 100.0%; height: 100.0%;">Empire Restaurant</div>`)[0];
            popup_05aaddaf3a264be880a9bf3bf178a2f3.setContent(html_5cf6db17572a4c14bccfcc4861fe537e);
        

        circle_marker_e1a59c008472455a97cd4a98ae50d89a.bindPopup(popup_05aaddaf3a264be880a9bf3bf178a2f3)
        ;

        
    
    
            var circle_marker_7e2d400f9b4644d38fdf39b065ba2e5a = L.circleMarker(
                [12.999614837623142, 77.61600853591362],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_406f3254c5574bd594568a2aeec09180 = L.popup({"maxWidth": 300});

        
            var html_9e8e6a2eae554defb3009d180cd6c009 = $(`<div id="html_9e8e6a2eae554defb3009d180cd6c009" style="width: 100.0%; height: 100.0%;">Elements Heritage</div>`)[0];
            popup_406f3254c5574bd594568a2aeec09180.setContent(html_9e8e6a2eae554defb3009d180cd6c009);
        

        circle_marker_7e2d400f9b4644d38fdf39b065ba2e5a.bindPopup(popup_406f3254c5574bd594568a2aeec09180)
        ;

        
    
    
            var circle_marker_309fb6850fd648acb7c4624c2d225097 = L.circleMarker(
                [12.997323672733962, 77.61451295721737],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_76b7bd80098948f8b36b4a55f35b0d93 = L.popup({"maxWidth": 300});

        
            var html_04bc1b01a8b349708cbf049fc529ba2b = $(`<div id="html_04bc1b01a8b349708cbf049fc529ba2b" style="width: 100.0%; height: 100.0%;">Subway</div>`)[0];
            popup_76b7bd80098948f8b36b4a55f35b0d93.setContent(html_04bc1b01a8b349708cbf049fc529ba2b);
        

        circle_marker_309fb6850fd648acb7c4624c2d225097.bindPopup(popup_76b7bd80098948f8b36b4a55f35b0d93)
        ;

        
    
    
            var circle_marker_1388d545b77b4b67964f7dedb50c7da8 = L.circleMarker(
                [12.997139178905016, 77.61435149308763],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_38c356c471654bbbb9fdf080b68ccc09 = L.popup({"maxWidth": 300});

        
            var html_88bd77af6b2a4c1ab1a1d78af2ecb199 = $(`<div id="html_88bd77af6b2a4c1ab1a1d78af2ecb199" style="width: 100.0%; height: 100.0%;">Baskin-Robbins</div>`)[0];
            popup_38c356c471654bbbb9fdf080b68ccc09.setContent(html_88bd77af6b2a4c1ab1a1d78af2ecb199);
        

        circle_marker_1388d545b77b4b67964f7dedb50c7da8.bindPopup(popup_38c356c471654bbbb9fdf080b68ccc09)
        ;

        
    
    
            var circle_marker_29a35aeee3414f3d835540212a92adc8 = L.circleMarker(
                [12.997177979632765, 77.61417049443405],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_a52ad1826eab4d93a2517014744aea3a = L.popup({"maxWidth": 300});

        
            var html_cff5390ddfc14b6b8b6aaea66cd7d9b6 = $(`<div id="html_cff5390ddfc14b6b8b6aaea66cd7d9b6" style="width: 100.0%; height: 100.0%;">Beijing Bites</div>`)[0];
            popup_a52ad1826eab4d93a2517014744aea3a.setContent(html_cff5390ddfc14b6b8b6aaea66cd7d9b6);
        

        circle_marker_29a35aeee3414f3d835540212a92adc8.bindPopup(popup_a52ad1826eab4d93a2517014744aea3a)
        ;

        
    
    
            var circle_marker_de9840c425144cae83ee203d38f3863d = L.circleMarker(
                [13.000867217889637, 77.61311522590482],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_f7aa8dd17c7d4657b839087edbbdff90 = L.popup({"maxWidth": 300});

        
            var html_d5b0366e9b884c879168013d36da0e7f = $(`<div id="html_d5b0366e9b884c879168013d36da0e7f" style="width: 100.0%; height: 100.0%;">Rahhams Restaurant</div>`)[0];
            popup_f7aa8dd17c7d4657b839087edbbdff90.setContent(html_d5b0366e9b884c879168013d36da0e7f);
        

        circle_marker_de9840c425144cae83ee203d38f3863d.bindPopup(popup_f7aa8dd17c7d4657b839087edbbdff90)
        ;

        
    
    
            var circle_marker_2c9be0b9ba8e428c9d01dbc870ebd39c = L.circleMarker(
                [12.997676439468204, 77.61472118229169],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_0a576e36c5bb4ce0847caee768591a4b = L.popup({"maxWidth": 300});

        
            var html_07c134a729ae482e8da20b4f7ef0bcbd = $(`<div id="html_07c134a729ae482e8da20b4f7ef0bcbd" style="width: 100.0%; height: 100.0%;">KFC Frazer Town</div>`)[0];
            popup_0a576e36c5bb4ce0847caee768591a4b.setContent(html_07c134a729ae482e8da20b4f7ef0bcbd);
        

        circle_marker_2c9be0b9ba8e428c9d01dbc870ebd39c.bindPopup(popup_0a576e36c5bb4ce0847caee768591a4b)
        ;

        
    
    
            var circle_marker_7890027a5b0f4b26a81c944011b8ecf2 = L.circleMarker(
                [12.999651722991054, 77.61600156387885],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_dd20b8617a6b4aaea71f7c1d1e081470 = L.popup({"maxWidth": 300});

        
            var html_9c2d17146bf04620be9e95ec363d9049 = $(`<div id="html_9c2d17146bf04620be9e95ec363d9049" style="width: 100.0%; height: 100.0%;">Shawarma King</div>`)[0];
            popup_dd20b8617a6b4aaea71f7c1d1e081470.setContent(html_9c2d17146bf04620be9e95ec363d9049);
        

        circle_marker_7890027a5b0f4b26a81c944011b8ecf2.bindPopup(popup_dd20b8617a6b4aaea71f7c1d1e081470)
        ;

        
    
    
            var circle_marker_583c0b9b4142468baa562b9004410dfe = L.circleMarker(
                [13.000644043566053, 77.61492786656538],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_d16eacbce6494424b446136baffd3ef7 = L.popup({"maxWidth": 300});

        
            var html_9b39f23565c349d0a84c5b726e2063d4 = $(`<div id="html_9b39f23565c349d0a84c5b726e2063d4" style="width: 100.0%; height: 100.0%;">Ramzan food street, MM road</div>`)[0];
            popup_d16eacbce6494424b446136baffd3ef7.setContent(html_9b39f23565c349d0a84c5b726e2063d4);
        

        circle_marker_583c0b9b4142468baa562b9004410dfe.bindPopup(popup_d16eacbce6494424b446136baffd3ef7)
        ;

        
    
    
            var circle_marker_7112518fbb00475db1e0a686b06c1209 = L.circleMarker(
                [12.998082179172405, 77.6150538902165],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_ad925b3e3ec241289bb6a9b771fb4a4b = L.popup({"maxWidth": 300});

        
            var html_3fd1afef91a94b1cb36e09e260ab2bb5 = $(`<div id="html_3fd1afef91a94b1cb36e09e260ab2bb5" style="width: 100.0%; height: 100.0%;">Snap Fitness</div>`)[0];
            popup_ad925b3e3ec241289bb6a9b771fb4a4b.setContent(html_3fd1afef91a94b1cb36e09e260ab2bb5);
        

        circle_marker_7112518fbb00475db1e0a686b06c1209.bindPopup(popup_ad925b3e3ec241289bb6a9b771fb4a4b)
        ;

        
    
    
            var circle_marker_f61da9a0a43a460d92d2b3c56fcbcc3e = L.circleMarker(
                [13.000140721811599, 77.61835104348907],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_279ae767f2e348178fcfb168ba6e0621 = L.popup({"maxWidth": 300});

        
            var html_0312216e29c948bc87e60ed1ad5e4daa = $(`<div id="html_0312216e29c948bc87e60ed1ad5e4daa" style="width: 100.0%; height: 100.0%;">Everest Movie Theatre</div>`)[0];
            popup_279ae767f2e348178fcfb168ba6e0621.setContent(html_0312216e29c948bc87e60ed1ad5e4daa);
        

        circle_marker_f61da9a0a43a460d92d2b3c56fcbcc3e.bindPopup(popup_279ae767f2e348178fcfb168ba6e0621)
        ;

        
    
    
            var circle_marker_f8817f6619d64d87bbc87b201f6d6c17 = L.circleMarker(
                [13.000591770111827, 77.61585158923617],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_5cc3b832469a45ef84575c6aceab7479 = L.popup({"maxWidth": 300});

        
            var html_38b6bc7ad5b0455f86d5e34bdc977c0c = $(`<div id="html_38b6bc7ad5b0455f86d5e34bdc977c0c" style="width: 100.0%; height: 100.0%;">Ramazan Tent</div>`)[0];
            popup_5cc3b832469a45ef84575c6aceab7479.setContent(html_38b6bc7ad5b0455f86d5e34bdc977c0c);
        

        circle_marker_f8817f6619d64d87bbc87b201f6d6c17.bindPopup(popup_5cc3b832469a45ef84575c6aceab7479)
        ;

        
    
    
            var circle_marker_ed70f0458e2040b7b1d7fec11a7c089a = L.circleMarker(
                [12.999864, 77.616055],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_420fa016c3ab4494afa49465f9f8f06e = L.popup({"maxWidth": 300});

        
            var html_29db0ad4bb844d4cb4e94c7e2e124079 = $(`<div id="html_29db0ad4bb844d4cb4e94c7e2e124079" style="width: 100.0%; height: 100.0%;">lassi shop</div>`)[0];
            popup_420fa016c3ab4494afa49465f9f8f06e.setContent(html_29db0ad4bb844d4cb4e94c7e2e124079);
        

        circle_marker_ed70f0458e2040b7b1d7fec11a7c089a.bindPopup(popup_420fa016c3ab4494afa49465f9f8f06e)
        ;

        
    
    
            var circle_marker_230c2aa65edc4bb9bc87533efd702acd = L.circleMarker(
                [12.996864874695992, 77.61416151043277],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_ba31ef753b424ea7b632541ba9b46085 = L.popup({"maxWidth": 300});

        
            var html_a96e37bda2fa4860bd979a3828aa7ede = $(`<div id="html_a96e37bda2fa4860bd979a3828aa7ede" style="width: 100.0%; height: 100.0%;">Barista, Frazer Town</div>`)[0];
            popup_ba31ef753b424ea7b632541ba9b46085.setContent(html_a96e37bda2fa4860bd979a3828aa7ede);
        

        circle_marker_230c2aa65edc4bb9bc87533efd702acd.bindPopup(popup_ba31ef753b424ea7b632541ba9b46085)
        ;

        
    
    
            var circle_marker_1f52e883ceba43bb9753585517ae23b1 = L.circleMarker(
                [13.000837790096652, 77.61393604498232],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_1651481093974daa9b1a9dd51c8cf292 = L.popup({"maxWidth": 300});

        
            var html_510b8de2a4184085a1345782ba1a355b = $(`<div id="html_510b8de2a4184085a1345782ba1a355b" style="width: 100.0%; height: 100.0%;">Namdhari's Fresh</div>`)[0];
            popup_1651481093974daa9b1a9dd51c8cf292.setContent(html_510b8de2a4184085a1345782ba1a355b);
        

        circle_marker_1f52e883ceba43bb9753585517ae23b1.bindPopup(popup_1651481093974daa9b1a9dd51c8cf292)
        ;

        
    
    
            var circle_marker_6db6e6db0402448ab502cf4beecadd23 = L.circleMarker(
                [13.003128646629312, 77.61639427643787],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_53e993763b7e46689655f663d89f682b = L.popup({"maxWidth": 300});

        
            var html_049a65c8407c4823be6eec5277859b8a = $(`<div id="html_049a65c8407c4823be6eec5277859b8a" style="width: 100.0%; height: 100.0%;">Wangs Kitchen</div>`)[0];
            popup_53e993763b7e46689655f663d89f682b.setContent(html_049a65c8407c4823be6eec5277859b8a);
        

        circle_marker_6db6e6db0402448ab502cf4beecadd23.bindPopup(popup_53e993763b7e46689655f663d89f682b)
        ;

        
    
    
            var circle_marker_a9f0ce50413b4305835ef3fb598af625 = L.circleMarker(
                [13.003397252266685, 77.61595229427535],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_9aaea62f5b9f417c97e0a891084692fe = L.popup({"maxWidth": 300});

        
            var html_547c2b9628c44e208ee899f0b3ae8413 = $(`<div id="html_547c2b9628c44e208ee899f0b3ae8413" style="width: 100.0%; height: 100.0%;">Food Mart</div>`)[0];
            popup_9aaea62f5b9f417c97e0a891084692fe.setContent(html_547c2b9628c44e208ee899f0b3ae8413);
        

        circle_marker_a9f0ce50413b4305835ef3fb598af625.bindPopup(popup_9aaea62f5b9f417c97e0a891084692fe)
        ;

        
    
    
            var circle_marker_32f2b0dc8db9419aaf6e8130284ad3a9 = L.circleMarker(
                [13.00336292345919, 77.61661246952411],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_1f0dff096d8f45b3b0860e4e2912b8b2 = L.popup({"maxWidth": 300});

        
            var html_c3596d33c92241c1bb5876e2340e440b = $(`<div id="html_c3596d33c92241c1bb5876e2340e440b" style="width: 100.0%; height: 100.0%;">indradarshini</div>`)[0];
            popup_1f0dff096d8f45b3b0860e4e2912b8b2.setContent(html_c3596d33c92241c1bb5876e2340e440b);
        

        circle_marker_32f2b0dc8db9419aaf6e8130284ad3a9.bindPopup(popup_1f0dff096d8f45b3b0860e4e2912b8b2)
        ;

        
    
    
            var circle_marker_18b509d3f20a4385ae63c28a7d074453 = L.circleMarker(
                [13.00055, 77.612881],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_de1e692ac3ac4e5fa91d67ec9c7e7e78 = L.popup({"maxWidth": 300});

        
            var html_78c734c509ba4f459ee8f31efd582bfb = $(`<div id="html_78c734c509ba4f459ee8f31efd582bfb" style="width: 100.0%; height: 100.0%;">Arabian Tea Cafe</div>`)[0];
            popup_de1e692ac3ac4e5fa91d67ec9c7e7e78.setContent(html_78c734c509ba4f459ee8f31efd582bfb);
        

        circle_marker_18b509d3f20a4385ae63c28a7d074453.bindPopup(popup_de1e692ac3ac4e5fa91d67ec9c7e7e78)
        ;

        
    
    
            var circle_marker_4812e4c71c644c7dab6e2c6a82b775d1 = L.circleMarker(
                [13.000929280904373, 77.61250029796643],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_6c0cd38b9e5940608131617edb3b52cc = L.popup({"maxWidth": 300});

        
            var html_73adb5b6b0b94c4587e701177e087699 = $(`<div id="html_73adb5b6b0b94c4587e701177e087699" style="width: 100.0%; height: 100.0%;">Rehmans Biryani</div>`)[0];
            popup_6c0cd38b9e5940608131617edb3b52cc.setContent(html_73adb5b6b0b94c4587e701177e087699);
        

        circle_marker_4812e4c71c644c7dab6e2c6a82b775d1.bindPopup(popup_6c0cd38b9e5940608131617edb3b52cc)
        ;

        
    
    
            var circle_marker_d3bf3349635f499297dd088698e6c169 = L.circleMarker(
                [13.00033442886999, 77.6114559173584],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
    
        var popup_b4467a585b944fa58c55ed0eb18f5c57 = L.popup({"maxWidth": 300});

        
            var html_d4d3661916ee498bac4c756192132b9c = $(`<div id="html_d4d3661916ee498bac4c756192132b9c" style="width: 100.0%; height: 100.0%;">Victory Ashoka Enclave</div>`)[0];
            popup_b4467a585b944fa58c55ed0eb18f5c57.setContent(html_d4d3661916ee498bac4c756192132b9c);
        

        circle_marker_d3bf3349635f499297dd088698e6c169.bindPopup(popup_b4467a585b944fa58c55ed0eb18f5c57)
        ;

        
    
    
            var feature_group_61b2bed035a74a4bae7c6a3472df36c4 = L.featureGroup(
                {}
            ).addTo(map_157cfdc77a7449849a51eaff4b3ef6b6);
        
</script>