<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_deeabddf5f22444db77bd081d93f9868 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_deeabddf5f22444db77bd081d93f9868" ></div>
        
</body>
<script>    
    
            var map_deeabddf5f22444db77bd081d93f9868 = L.map(
                "map_deeabddf5f22444db77bd081d93f9868",
                {
                    center: [30.73872, 76.784331],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_979eaae294d24f79bcacfed87ae56f64 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
            var circle_marker_3462c59c65284dfd8dcb385361d978db = L.circleMarker(
                [30.73905473075671, 76.78335833920829],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_b06ed247cf024f389f8b10b512e35308 = L.popup({"maxWidth": 300});

        
            var html_1d3ac89be13a46548138b3b9387a18e7 = $(`<div id="html_1d3ac89be13a46548138b3b9387a18e7" style="width: 100.0%; height: 100.0%;">Ghazal</div>`)[0];
            popup_b06ed247cf024f389f8b10b512e35308.setContent(html_1d3ac89be13a46548138b3b9387a18e7);
        

        circle_marker_3462c59c65284dfd8dcb385361d978db.bindPopup(popup_b06ed247cf024f389f8b10b512e35308)
        ;

        
    
    
            var circle_marker_99e68d51b3284df9b084637217c44cbc = L.circleMarker(
                [30.739540864552975, 76.78215825204748],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_60b0d456127d48f18958cc3c30e5ec97 = L.popup({"maxWidth": 300});

        
            var html_538b2f8200dd433bba3deed08936b4d1 = $(`<div id="html_538b2f8200dd433bba3deed08936b4d1" style="width: 100.0%; height: 100.0%;">Sector 17</div>`)[0];
            popup_60b0d456127d48f18958cc3c30e5ec97.setContent(html_538b2f8200dd433bba3deed08936b4d1);
        

        circle_marker_99e68d51b3284df9b084637217c44cbc.bindPopup(popup_60b0d456127d48f18958cc3c30e5ec97)
        ;

        
    
    
            var circle_marker_e533371ad18c4e4bbd7525799fdf8274 = L.circleMarker(
                [30.74041417296752, 76.78161924197302],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_225a7a843bc44a03836cb4c590166393 = L.popup({"maxWidth": 300});

        
            var html_8e961ac961024c8ea3f4c2f98525cc50 = $(`<div id="html_8e961ac961024c8ea3f4c2f98525cc50" style="width: 100.0%; height: 100.0%;">Softy Corner</div>`)[0];
            popup_225a7a843bc44a03836cb4c590166393.setContent(html_8e961ac961024c8ea3f4c2f98525cc50);
        

        circle_marker_e533371ad18c4e4bbd7525799fdf8274.bindPopup(popup_225a7a843bc44a03836cb4c590166393)
        ;

        
    
    
            var circle_marker_522048904d76435cb902c9351c469b1e = L.circleMarker(
                [30.740556809748465, 76.78254701393982],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_44eec26147f1437ea2cad1777ee30469 = L.popup({"maxWidth": 300});

        
            var html_798f5a40749d48a683b3fea52d0eda29 = $(`<div id="html_798f5a40749d48a683b3fea52d0eda29" style="width: 100.0%; height: 100.0%;">Hot Millions 2</div>`)[0];
            popup_44eec26147f1437ea2cad1777ee30469.setContent(html_798f5a40749d48a683b3fea52d0eda29);
        

        circle_marker_522048904d76435cb902c9351c469b1e.bindPopup(popup_44eec26147f1437ea2cad1777ee30469)
        ;

        
    
    
            var circle_marker_d5c2a47bedfc44589b33491ecead4939 = L.circleMarker(
                [30.740267118111216, 76.78190471103095],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_a087f7dcb99e471383d573cc47f462b3 = L.popup({"maxWidth": 300});

        
            var html_905d96aba2904c39b0a173182abd29b1 = $(`<div id="html_905d96aba2904c39b0a173182abd29b1" style="width: 100.0%; height: 100.0%;">Hot Millions saladbar</div>`)[0];
            popup_a087f7dcb99e471383d573cc47f462b3.setContent(html_905d96aba2904c39b0a173182abd29b1);
        

        circle_marker_d5c2a47bedfc44589b33491ecead4939.bindPopup(popup_a087f7dcb99e471383d573cc47f462b3)
        ;

        
    
    
            var circle_marker_ec401a7dde4147b2bfa38816261af77a = L.circleMarker(
                [30.740343189861484, 76.78090231119417],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_7d310da4a2c344b9a95a17bfa5996eb0 = L.popup({"maxWidth": 300});

        
            var html_6a4257b32cef4b0380bc8af53033c967 = $(`<div id="html_6a4257b32cef4b0380bc8af53033c967" style="width: 100.0%; height: 100.0%;">Indian Coffee House</div>`)[0];
            popup_7d310da4a2c344b9a95a17bfa5996eb0.setContent(html_6a4257b32cef4b0380bc8af53033c967);
        

        circle_marker_ec401a7dde4147b2bfa38816261af77a.bindPopup(popup_7d310da4a2c344b9a95a17bfa5996eb0)
        ;

        
    
    
            var circle_marker_0ba42cf3eea94a35a47ab67ec8565108 = L.circleMarker(
                [30.73900076018172, 76.78320058193002],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_b1703c01647e4af4adfc7d786a099ab5 = L.popup({"maxWidth": 300});

        
            var html_d97c61aa94bb453a8db115cb7269b439 = $(`<div id="html_d97c61aa94bb453a8db115cb7269b439" style="width: 100.0%; height: 100.0%;">Baskin-Robbins</div>`)[0];
            popup_b1703c01647e4af4adfc7d786a099ab5.setContent(html_d97c61aa94bb453a8db115cb7269b439);
        

        circle_marker_0ba42cf3eea94a35a47ab67ec8565108.bindPopup(popup_b1703c01647e4af4adfc7d786a099ab5)
        ;

        
    
    
            var circle_marker_428ad3ea0f6c43d3af116a8d0a1c5be5 = L.circleMarker(
                [30.738183399775725, 76.78375273149028],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_ec4bb3a6f2904ad1983cc8a5e7ec505d = L.popup({"maxWidth": 300});

        
            var html_1b49f05830fc480d9f60c6e6b2e35cbe = $(`<div id="html_1b49f05830fc480d9f60c6e6b2e35cbe" style="width: 100.0%; height: 100.0%;">Sindhi Sweets</div>`)[0];
            popup_ec4bb3a6f2904ad1983cc8a5e7ec505d.setContent(html_1b49f05830fc480d9f60c6e6b2e35cbe);
        

        circle_marker_428ad3ea0f6c43d3af116a8d0a1c5be5.bindPopup(popup_ec4bb3a6f2904ad1983cc8a5e7ec505d)
        ;

        
    
    
            var circle_marker_4d7aa1c3f6094e9bbbf44d36a3e13087 = L.circleMarker(
                [30.73784465520665, 76.78357756000598],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_5b1ed2c9c28b44c884390af81a4823d5 = L.popup({"maxWidth": 300});

        
            var html_5905a6f0bb7e442896f3f046e2ad368b = $(`<div id="html_5905a6f0bb7e442896f3f046e2ad368b" style="width: 100.0%; height: 100.0%;">Sagar Ratna</div>`)[0];
            popup_5b1ed2c9c28b44c884390af81a4823d5.setContent(html_5905a6f0bb7e442896f3f046e2ad368b);
        

        circle_marker_4d7aa1c3f6094e9bbbf44d36a3e13087.bindPopup(popup_5b1ed2c9c28b44c884390af81a4823d5)
        ;

        
    
    
            var circle_marker_98a6a0b1ae924d3b83424e2389d032ec = L.circleMarker(
                [30.739792231802177, 76.78206246994615],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_6a9df699912b401ab93a7c2771986ce8 = L.popup({"maxWidth": 300});

        
            var html_3cfca0db0f8b4bbd9ebbc9c503491e49 = $(`<div id="html_3cfca0db0f8b4bbd9ebbc9c503491e49" style="width: 100.0%; height: 100.0%;">Barista Lavaza Creme</div>`)[0];
            popup_6a9df699912b401ab93a7c2771986ce8.setContent(html_3cfca0db0f8b4bbd9ebbc9c503491e49);
        

        circle_marker_98a6a0b1ae924d3b83424e2389d032ec.bindPopup(popup_6a9df699912b401ab93a7c2771986ce8)
        ;

        
    
    
            var circle_marker_c4467b4e5e614b78bb976ab179857c5f = L.circleMarker(
                [30.742130796223922, 76.78696632385254],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_2d78bed3d1eb4b6bae58fd986758a911 = L.popup({"maxWidth": 300});

        
            var html_e963da3ddfc04d59b3e1e1ce8f3f399c = $(`<div id="html_e963da3ddfc04d59b3e1e1ce8f3f399c" style="width: 100.0%; height: 100.0%;">Kapsons Chandigarh</div>`)[0];
            popup_2d78bed3d1eb4b6bae58fd986758a911.setContent(html_e963da3ddfc04d59b3e1e1ce8f3f399c);
        

        circle_marker_c4467b4e5e614b78bb976ab179857c5f.bindPopup(popup_2d78bed3d1eb4b6bae58fd986758a911)
        ;

        
    
    
            var circle_marker_36a70b258fdb49b2a592b15641fcc1a6 = L.circleMarker(
                [30.739737694145905, 76.781986],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_2918eabc9f784ef18408cf814369f674 = L.popup({"maxWidth": 300});

        
            var html_ead89af504cf40feaa39b1e4a290bdea = $(`<div id="html_ead89af504cf40feaa39b1e4a290bdea" style="width: 100.0%; height: 100.0%;">Ovenfresh</div>`)[0];
            popup_2918eabc9f784ef18408cf814369f674.setContent(html_ead89af504cf40feaa39b1e4a290bdea);
        

        circle_marker_36a70b258fdb49b2a592b15641fcc1a6.bindPopup(popup_2918eabc9f784ef18408cf814369f674)
        ;

        
    
    
            var circle_marker_b6f9f26d094e429aa3436c692705deb8 = L.circleMarker(
                [30.740616, 76.78752],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
    
        var popup_d506edf985d3421faf15ecc46c620784 = L.popup({"maxWidth": 300});

        
            var html_5ad0e3a5370f404da63e061f38def4c6 = $(`<div id="html_5ad0e3a5370f404da63e061f38def4c6" style="width: 100.0%; height: 100.0%;">Tdi Cinema Plex</div>`)[0];
            popup_d506edf985d3421faf15ecc46c620784.setContent(html_5ad0e3a5370f404da63e061f38def4c6);
        

        circle_marker_b6f9f26d094e429aa3436c692705deb8.bindPopup(popup_d506edf985d3421faf15ecc46c620784)
        ;

        
    
    
            var feature_group_32ec53b9272b4421b3c9c1ea18d2ce76 = L.featureGroup(
                {}
            ).addTo(map_deeabddf5f22444db77bd081d93f9868);
        
</script>