<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Category</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Nakaasha</span>
	  </header>
    </a>
    
      <section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100">
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">Restaurants</span>
        </div>
        <div class="md:flex-grow">
		  <img src="https://source.unsplash.com/1920x1080/?Food,Restaurants" alt="Marine" width="540" height="240">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Find best Food near your Locations</h2>
          <p> New in the Town ? Wanna dine at local Restaurants ? Find out Restaurants based on<br> your location instantly with Nakaasha .</p>
          <a class="text-green-500 inline-flex items-center mt-4" href='/loadMap4'>Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">Attractions</span>
        </div>
        <div class="md:flex-grow">
		<img src="https://source.unsplash.com/1920x1080/?Tourism" alt="Marine" width="540" height="240">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Find best places to visit near your location</h2>
          <p class="leading-relaxed">See intresting places to visit around You </p>
          <a class="text-green-500 inline-flex items-center mt-4" href='/Mmatt1'>Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <!--<div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">Pharmacy</span>
        </div>
        <div class="md:flex-grow">
		<img src="https://source.unsplash.com/1920x1080/?Pharmacy" alt="Marine" width="540" height="240">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Find Pharmacy near your location</h2>
          <p class="leading-relaxed">Nothing more important than having a pharmacy nearby in case of emrgency, see pharmacies near you instantly.</p>
          <a class="text-green-500 inline-flex items-center mt-4">Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>-->
	  
    </div>
  </div>
</section>
    
</body>
</html>    
