<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9a382f629b15486196e158fd8ad3c2af {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_9a382f629b15486196e158fd8ad3c2af" ></div>
        
</body>
<script>    
    
            var map_9a382f629b15486196e158fd8ad3c2af = L.map(
                "map_9a382f629b15486196e158fd8ad3c2af",
                {
                    center: [18.5204, 73.8567],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a81b092195ac454b920f223151a381fc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9a382f629b15486196e158fd8ad3c2af);
        
    
            var feature_group_c4ba67317ac94395be72a9de3cbf02db = L.featureGroup(
                {}
            ).addTo(map_9a382f629b15486196e158fd8ad3c2af);
        
    
            var marker_c7b28a5c4c924e03baaff08c370d4c66 = L.marker(
                [18.5525, 73.9015],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_37a1643cebd64136a285277c6ae3d915 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_c7b28a5c4c924e03baaff08c370d4c66.setIcon(icon_37a1643cebd64136a285277c6ae3d915);
        
    
        var popup_55954a20eebd4816a100c5ba7a11ec09 = L.popup({"maxWidth": "100%"});

        
            var html_3416c2ccc5df450faee95bd0fbc2011e = $(`<div id="html_3416c2ccc5df450faee95bd0fbc2011e" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Aga khan Palace<br> <b>More Info: </b><a href=/Patt1>click here</a><br> <img src=https://dynamic-media-cdn.tripadvisor.com/media/photo-s/02/e7/79/24/aga-khan-palace.jpg?w=600&h=-1&s=1 height=142 width=290></div>`)[0];
            popup_55954a20eebd4816a100c5ba7a11ec09.setContent(html_3416c2ccc5df450faee95bd0fbc2011e);
        

        marker_c7b28a5c4c924e03baaff08c370d4c66.bindPopup(popup_55954a20eebd4816a100c5ba7a11ec09)
        ;

        
    
    
            var marker_3170708d8be34e8384fd6ad8cf256dde = L.marker(
                [18.518955, 73.943062],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_41a5de44b66b40d2b64fe8e68041b944 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_3170708d8be34e8384fd6ad8cf256dde.setIcon(icon_41a5de44b66b40d2b64fe8e68041b944);
        
    
        var popup_4ea52baf489842aaaa75391ad56ae8a6 = L.popup({"maxWidth": "100%"});

        
            var html_eba50d678f024563aafe7e78f2868842 = $(`<div id="html_eba50d678f024563aafe7e78f2868842" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Amanora Mall<br> <b>More Info: </b><a href=/Patt2>click here</a><br> <img src=https://source.unsplash.com/1920x1080/?Amanora height=142 width=290></div>`)[0];
            popup_4ea52baf489842aaaa75391ad56ae8a6.setContent(html_eba50d678f024563aafe7e78f2868842);
        

        marker_3170708d8be34e8384fd6ad8cf256dde.bindPopup(popup_4ea52baf489842aaaa75391ad56ae8a6)
        ;

        
    
    
            var marker_2fb5577a43244d10b413848167e50279 = L.marker(
                [18.516389999999998, 73.855835],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_a7b1fbce7d304dccaaa0c2e2e04664c7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_2fb5577a43244d10b413848167e50279.setIcon(icon_a7b1fbce7d304dccaaa0c2e2e04664c7);
        
    
        var popup_b20f1b36c49c4bdcab26d907ea54617d = L.popup({"maxWidth": "100%"});

        
            var html_23a1b5b15efd471aa012f55ab4719a0e = $(`<div id="html_23a1b5b15efd471aa012f55ab4719a0e" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Dagadusheth Halwai Ganapati Temple<br> <b>More Info: </b><a href=/Patt3>click here</a><br> <img src=https://source.unsplash.com/1920x1080/?Dagdusheth Halwai height=142 width=290></div>`)[0];
            popup_b20f1b36c49c4bdcab26d907ea54617d.setContent(html_23a1b5b15efd471aa012f55ab4719a0e);
        

        marker_2fb5577a43244d10b413848167e50279.bindPopup(popup_b20f1b36c49c4bdcab26d907ea54617d)
        ;

        
    
    
            var marker_7b872136e1ae4a2dae25e3cd17d24b48 = L.marker(
                [18.4478, 73.8807],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_6dd1c8ca5fee44b59767f30f0802c134 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_7b872136e1ae4a2dae25e3cd17d24b48.setIcon(icon_6dd1c8ca5fee44b59767f30f0802c134);
        
    
        var popup_5533fde0d125471a8539cc6303802016 = L.popup({"maxWidth": "100%"});

        
            var html_26f82b49bafb4b92ae5fb2f7e7ee4db9 = $(`<div id="html_26f82b49bafb4b92ae5fb2f7e7ee4db9" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>ISCKON NVCC Temple<br> <b>More Info: </b><a href=/Patt4>click here</a><br> <img src=https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/6f/c5/16/iskcon-nvcc-temple.jpg?w=1200&h=-1&s=1 height=142 width=290></div>`)[0];
            popup_5533fde0d125471a8539cc6303802016.setContent(html_26f82b49bafb4b92ae5fb2f7e7ee4db9);
        

        marker_7b872136e1ae4a2dae25e3cd17d24b48.bindPopup(popup_5533fde0d125471a8539cc6303802016)
        ;

        
    
    
            var marker_c9359fd24d954bfcb843b331cd4a5310 = L.marker(
                [18.5187, 73.8566],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_58de8f2a6b034056958b720a9ff6bd76 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_c9359fd24d954bfcb843b331cd4a5310.setIcon(icon_58de8f2a6b034056958b720a9ff6bd76);
        
    
        var popup_415e7ca9cd3a4228a8be775468c8cabb = L.popup({"maxWidth": "100%"});

        
            var html_add7ec712d844230ab4412534de60d78 = $(`<div id="html_add7ec712d844230ab4412534de60d78" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Lal Mahal<br> <b>More Info: </b><a href=/Patt5>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/Lal-Mahal.jpg height=142 width=290></div>`)[0];
            popup_415e7ca9cd3a4228a8be775468c8cabb.setContent(html_add7ec712d844230ab4412534de60d78);
        

        marker_c9359fd24d954bfcb843b331cd4a5310.bindPopup(popup_415e7ca9cd3a4228a8be775468c8cabb)
        ;

        
    
    
            var marker_6ca3e39e0bf84a08825710fedcdce22e = L.marker(
                [18.522000000000002, 73.891],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_cbe5a4dd393143b1a94f27f96c0bbd6c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_6ca3e39e0bf84a08825710fedcdce22e.setIcon(icon_cbe5a4dd393143b1a94f27f96c0bbd6c);
        
    
        var popup_d692ef7ef953415b8476787e99e8a93e = L.popup({"maxWidth": "100%"});

        
            var html_7d594dbc88614cde8e989c8c925eff34 = $(`<div id="html_7d594dbc88614cde8e989c8c925eff34" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>National War Museum<br> <b>More Info: </b><a href=/Patt6>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/National-War-Museum.jpg height=142 width=290></div>`)[0];
            popup_d692ef7ef953415b8476787e99e8a93e.setContent(html_7d594dbc88614cde8e989c8c925eff34);
        

        marker_6ca3e39e0bf84a08825710fedcdce22e.bindPopup(popup_d692ef7ef953415b8476787e99e8a93e)
        ;

        
    
    
            var marker_6bf04f59a114458c8d88d75d2757c4ee = L.marker(
                [18.4949, 73.8441],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_bb8cbde86dde4fcba46afa1105989eb8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_6bf04f59a114458c8d88d75d2757c4ee.setIcon(icon_bb8cbde86dde4fcba46afa1105989eb8);
        
    
        var popup_539ef1b4895344969846d3eebdcf40fb = L.popup({"maxWidth": "100%"});

        
            var html_eae11450c79c41658c03fc99f0af77fb = $(`<div id="html_eae11450c79c41658c03fc99f0af77fb" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Parvati Hill<br> <b>More Info: </b><a href=/Patt7>click here</a><br> <img src=https://upload.wikimedia.org/wikipedia/commons/9/95/Parvati.JPG height=142 width=290></div>`)[0];
            popup_539ef1b4895344969846d3eebdcf40fb.setContent(html_eae11450c79c41658c03fc99f0af77fb);
        

        marker_6bf04f59a114458c8d88d75d2757c4ee.bindPopup(popup_539ef1b4895344969846d3eebdcf40fb)
        ;

        
    
    
            var marker_9dac25e207cd4cec88ca21e57659b516 = L.marker(
                [18.52692, 73.849861],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_7de03aa8d15247ff8bc9a39ded18a885 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_9dac25e207cd4cec88ca21e57659b516.setIcon(icon_7de03aa8d15247ff8bc9a39ded18a885);
        
    
        var popup_9cfb92ad679840dcb0687a2b002ec27e = L.popup({"maxWidth": "100%"});

        
            var html_77f8597a2c894c7ca55d4b2c4f5d1a08 = $(`<div id="html_77f8597a2c894c7ca55d4b2c4f5d1a08" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Patalehswar Temple <br> <b>More Info: </b><a href=/Patt8>click here</a><br> <img src=https://source.unsplash.com/1920x1080/?Caves height=142 width=290></div>`)[0];
            popup_9cfb92ad679840dcb0687a2b002ec27e.setContent(html_77f8597a2c894c7ca55d4b2c4f5d1a08);
        

        marker_9dac25e207cd4cec88ca21e57659b516.bindPopup(popup_9cfb92ad679840dcb0687a2b002ec27e)
        ;

        
    
    
            var marker_4750d6966326412bb2197c90602335f2 = L.marker(
                [18.5621, 73.9167],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_c4cce9e097e342a3954de7b6e1982cbe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_4750d6966326412bb2197c90602335f2.setIcon(icon_c4cce9e097e342a3954de7b6e1982cbe);
        
    
        var popup_9929dc1be661431caba9433619e5dc21 = L.popup({"maxWidth": "100%"});

        
            var html_3724461f859543b8b1d18ea4bc651aad = $(`<div id="html_3724461f859543b8b1d18ea4bc651aad" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Phoenix Market City<br> <b>More Info: </b><a href=/Patt9>click here</a><br> <img src=https://dynamic-media-cdn.tripadvisor.com/media/photo-s/02/9c/f3/75/phoenix-market-city.jpg?w=600&h=-1&s= height=142 width=290></div>`)[0];
            popup_9929dc1be661431caba9433619e5dc21.setContent(html_3724461f859543b8b1d18ea4bc651aad);
        

        marker_4750d6966326412bb2197c90602335f2.bindPopup(popup_9929dc1be661431caba9433619e5dc21)
        ;

        
    
    
            var marker_bbd6c33de16149bb993e269c403801d7 = L.marker(
                [18.5107, 73.8544],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_802bfbb0f5094e35ae6638dfc83a419a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_bbd6c33de16149bb993e269c403801d7.setIcon(icon_802bfbb0f5094e35ae6638dfc83a419a);
        
    
        var popup_bbcf977b6e8c4721be943cfcf7275f08 = L.popup({"maxWidth": "100%"});

        
            var html_b6b0166035554505a7849ac1e4e3a575 = $(`<div id="html_b6b0166035554505a7849ac1e4e3a575" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Raja Dinkar Kelkar Museum<br> <b>More Info: </b><a href=/Patt10>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/Raja-Dinkar-Kelkar-Museum.jpg height=142 width=290></div>`)[0];
            popup_bbcf977b6e8c4721be943cfcf7275f08.setContent(html_b6b0166035554505a7849ac1e4e3a575);
        

        marker_bbd6c33de16149bb993e269c403801d7.bindPopup(popup_bbcf977b6e8c4721be943cfcf7275f08)
        ;

        
    
    
            var marker_1491187de9114fb0b6aa0ac41a50f576 = L.marker(
                [18.4529, 73.8611],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_5aa89611112e4ac5880a5b2562d4d039 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_1491187de9114fb0b6aa0ac41a50f576.setIcon(icon_5aa89611112e4ac5880a5b2562d4d039);
        
    
        var popup_8ce01e714d344322a4fe34589189d271 = L.popup({"maxWidth": "100%"});

        
            var html_78b6e429ff634efba452b7ca08fe2056 = $(`<div id="html_78b6e429ff634efba452b7ca08fe2056" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Rajiv Ghandi Zoological Park<br> <b>More Info: </b><a href=/Patt11>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/Rajiv-Gandhi-Zoological-Park.jpg height=142 width=290></div>`)[0];
            popup_8ce01e714d344322a4fe34589189d271.setContent(html_78b6e429ff634efba452b7ca08fe2056);
        

        marker_1491187de9114fb0b6aa0ac41a50f576.bindPopup(popup_8ce01e714d344322a4fe34589189d271)
        ;

        
    
    
            var marker_da61b903f1c94b899d4aef1cf3c16599 = L.marker(
                [18.5181, 73.8533],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_c5b337ee02e9464d91dd45b92fc2304f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_da61b903f1c94b899d4aef1cf3c16599.setIcon(icon_c5b337ee02e9464d91dd45b92fc2304f);
        
    
        var popup_582b659d4d8d46babd4a8484adb04df6 = L.popup({"maxWidth": "100%"});

        
            var html_d154f315f12e4df5a65708c62b9a5bb5 = $(`<div id="html_d154f315f12e4df5a65708c62b9a5bb5" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Shaniwar Wada Palace<br> <b>More Info: </b><a href=/Patt12>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/Shaniwar-Wada-Palace.jpg height=142 width=290></div>`)[0];
            popup_582b659d4d8d46babd4a8484adb04df6.setContent(html_d154f315f12e4df5a65708c62b9a5bb5);
        

        marker_da61b903f1c94b899d4aef1cf3c16599.bindPopup(popup_582b659d4d8d46babd4a8484adb04df6)
        ;

        
    
    
            var marker_86a03d3df87a4a0a862df5d15a2bef11 = L.marker(
                [18.3663, 73.7559],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_1c711c40df174656a81c6f1c8f1c5a40 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_86a03d3df87a4a0a862df5d15a2bef11.setIcon(icon_1c711c40df174656a81c6f1c8f1c5a40);
        
    
        var popup_2ee274fe3a2a43a5a64e90b250ad785f = L.popup({"maxWidth": "100%"});

        
            var html_7c11d05d79474a1ea9ab6c6725c2e8ad = $(`<div id="html_7c11d05d79474a1ea9ab6c6725c2e8ad" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Sinhagad Fort<br> <b>More Info: </b><a href=/Patt13>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2018/02/Sinhagad-Fort-1.jpg height=142 width=290></div>`)[0];
            popup_2ee274fe3a2a43a5a64e90b250ad785f.setContent(html_7c11d05d79474a1ea9ab6c6725c2e8ad);
        

        marker_86a03d3df87a4a0a862df5d15a2bef11.bindPopup(popup_2ee274fe3a2a43a5a64e90b250ad785f)
        ;

        
    
    
            var marker_90f4a24c30e44221a779e6e263291740 = L.marker(
                [18.44934, 73.42272],
                {}
            ).addTo(feature_group_c4ba67317ac94395be72a9de3cbf02db);
        
    
            var icon_e680d0c6144e4f23aa67ca23c33ebb93 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_90f4a24c30e44221a779e6e263291740.setIcon(icon_e680d0c6144e4f23aa67ca23c33ebb93);
        
    
        var popup_dc654c1c7666457da9daf8d755e87fa3 = L.popup({"maxWidth": "100%"});

        
            var html_97a1887f7d254237bfe0c781e65654de = $(`<div id="html_97a1887f7d254237bfe0c781e65654de" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Tamhini Ghat<br> <b>More Info: </b><a href=/Patt14>click here</a><br> <img src=https://source.unsplash.com/1920x1080/?Tamhini Ghat height=142 width=290></div>`)[0];
            popup_dc654c1c7666457da9daf8d755e87fa3.setContent(html_97a1887f7d254237bfe0c781e65654de);
        

        marker_90f4a24c30e44221a779e6e263291740.bindPopup(popup_dc654c1c7666457da9daf8d755e87fa3)
        ;

        
    
</script>