<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e81d0fd686844cf986ed75061caaea92 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e81d0fd686844cf986ed75061caaea92" ></div>
        
</body>
<script>    
    
            var map_e81d0fd686844cf986ed75061caaea92 = L.map(
                "map_e81d0fd686844cf986ed75061caaea92",
                {
                    center: [18.5204, 73.8567],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_915e91e70b5a4ff0b3a4561ddb3d86af = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e81d0fd686844cf986ed75061caaea92);
        
    
            var feature_group_6257c61ef89642a19321d74b31eeb6aa = L.featureGroup(
                {}
            ).addTo(map_e81d0fd686844cf986ed75061caaea92);
        
    
            var marker_df1c95009e034ad8bed076cd23ff45dd = L.marker(
                [18.5181, 73.8533],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_fbb839bc52f8434fa8b2047bfddeea5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_df1c95009e034ad8bed076cd23ff45dd.setIcon(icon_fbb839bc52f8434fa8b2047bfddeea5e);
        
    
        var popup_74e57823ebe2420a8fef41f315ce5f28 = L.popup({"maxWidth": "100%"});

        
            var html_94ebc5cabb484386827a5b71ce67bbfd = $(`<div id="html_94ebc5cabb484386827a5b71ce67bbfd" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Shaniwar Wada Palace<br> <b>More Info: </b><a href=/Patt1>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/Shaniwar-Wada-Palace.jpg height=142 width=290></div>`)[0];
            popup_74e57823ebe2420a8fef41f315ce5f28.setContent(html_94ebc5cabb484386827a5b71ce67bbfd);
        

        marker_df1c95009e034ad8bed076cd23ff45dd.bindPopup(popup_74e57823ebe2420a8fef41f315ce5f28)
        ;

        
    
    
            var marker_c3f8b522eb884a5fb83fa81b0fd6268f = L.marker(
                [18.5525, 73.9015],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_5ed492ae85ba417e839e2ec2005ea613 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c3f8b522eb884a5fb83fa81b0fd6268f.setIcon(icon_5ed492ae85ba417e839e2ec2005ea613);
        
    
        var popup_3771e1f5134d49f08df1292223c41819 = L.popup({"maxWidth": "100%"});

        
            var html_8dc4362222f84dad9fecfef6206ab89d = $(`<div id="html_8dc4362222f84dad9fecfef6206ab89d" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Aga khan Palace<br> <b>More Info: </b><a href=/Patt2>click here</a><br> <img src=https://dynamic-media-cdn.tripadvisor.com/media/photo-s/02/e7/79/24/aga-khan-palace.jpg?w=600&h=-1&s=1 height=142 width=290></div>`)[0];
            popup_3771e1f5134d49f08df1292223c41819.setContent(html_8dc4362222f84dad9fecfef6206ab89d);
        

        marker_c3f8b522eb884a5fb83fa81b0fd6268f.bindPopup(popup_3771e1f5134d49f08df1292223c41819)
        ;

        
    
    
            var marker_16501e7a7efd4ff8b028ca19e184a6a1 = L.marker(
                [18.4949, 73.8441],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_0b14231db6fc4f08aaace4baa1f456d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_16501e7a7efd4ff8b028ca19e184a6a1.setIcon(icon_0b14231db6fc4f08aaace4baa1f456d3);
        
    
        var popup_3921bb69d3484bb6962daa4158ab1ca4 = L.popup({"maxWidth": "100%"});

        
            var html_436a732b93224fc2b0b8c54b3795f8b1 = $(`<div id="html_436a732b93224fc2b0b8c54b3795f8b1" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Parvati Hill<br> <b>More Info: </b><a href=/Patt3>click here</a><br> <img src=https://upload.wikimedia.org/wikipedia/commons/9/95/Parvati.JPG height=142 width=290></div>`)[0];
            popup_3921bb69d3484bb6962daa4158ab1ca4.setContent(html_436a732b93224fc2b0b8c54b3795f8b1);
        

        marker_16501e7a7efd4ff8b028ca19e184a6a1.bindPopup(popup_3921bb69d3484bb6962daa4158ab1ca4)
        ;

        
    
    
            var marker_b7be8818844a4364b345f10c24958811 = L.marker(
                [18.3663, 73.7559],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_65572d45ae5c44f2a161d1b23dd6dce8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b7be8818844a4364b345f10c24958811.setIcon(icon_65572d45ae5c44f2a161d1b23dd6dce8);
        
    
        var popup_ed781a395f754e7ba8b805fa081483e0 = L.popup({"maxWidth": "100%"});

        
            var html_16aebab8011346a3af2c2e5e4422e08f = $(`<div id="html_16aebab8011346a3af2c2e5e4422e08f" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Sinhagad Fort<br> <b>More Info: </b><a href=/Patt4>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2018/02/Sinhagad-Fort-1.jpg height=142 width=290></div>`)[0];
            popup_ed781a395f754e7ba8b805fa081483e0.setContent(html_16aebab8011346a3af2c2e5e4422e08f);
        

        marker_b7be8818844a4364b345f10c24958811.bindPopup(popup_ed781a395f754e7ba8b805fa081483e0)
        ;

        
    
    
            var marker_d4c7b2d390034e7aa62cb58618d8fa91 = L.marker(
                [18.4478, 73.8807],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_29fa249248c4437ab816c614f336565a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d4c7b2d390034e7aa62cb58618d8fa91.setIcon(icon_29fa249248c4437ab816c614f336565a);
        
    
        var popup_ddbcaaa71d85419dadcdc96a455fce6d = L.popup({"maxWidth": "100%"});

        
            var html_144749d766834b069a59bcbce1a60e96 = $(`<div id="html_144749d766834b069a59bcbce1a60e96" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>ISCKON NVCC Temple<br> <b>More Info: </b><a href=/Patt5>click here</a><br> <img src=https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/6f/c5/16/iskcon-nvcc-temple.jpg?w=1200&h=-1&s=1 height=142 width=290></div>`)[0];
            popup_ddbcaaa71d85419dadcdc96a455fce6d.setContent(html_144749d766834b069a59bcbce1a60e96);
        

        marker_d4c7b2d390034e7aa62cb58618d8fa91.bindPopup(popup_ddbcaaa71d85419dadcdc96a455fce6d)
        ;

        
    
    
            var marker_adc6e5c858b141f296b88d8c53c1e8f5 = L.marker(
                [18.522000000000002, 73.891],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_071e302e2e514f5fa845afb9ef92fa2b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_adc6e5c858b141f296b88d8c53c1e8f5.setIcon(icon_071e302e2e514f5fa845afb9ef92fa2b);
        
    
        var popup_7350a6d983cd468780cd3bd56f76e9dc = L.popup({"maxWidth": "100%"});

        
            var html_84cd11f00d7143cdbc1ba98245f21ad0 = $(`<div id="html_84cd11f00d7143cdbc1ba98245f21ad0" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>National War Museum<br> <b>More Info: </b><a href=/Patt6>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/National-War-Museum.jpg height=142 width=290></div>`)[0];
            popup_7350a6d983cd468780cd3bd56f76e9dc.setContent(html_84cd11f00d7143cdbc1ba98245f21ad0);
        

        marker_adc6e5c858b141f296b88d8c53c1e8f5.bindPopup(popup_7350a6d983cd468780cd3bd56f76e9dc)
        ;

        
    
    
            var marker_4bc67840ca204994a668bf57bb22dc18 = L.marker(
                [18.5621, 73.9167],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_e75176a5cee34f4892d426795b1e12ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4bc67840ca204994a668bf57bb22dc18.setIcon(icon_e75176a5cee34f4892d426795b1e12ad);
        
    
        var popup_be7d96cbe7fa4142a808a3002f43c019 = L.popup({"maxWidth": "100%"});

        
            var html_be47818730aa4bf8b775e0258dbe93d6 = $(`<div id="html_be47818730aa4bf8b775e0258dbe93d6" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Phoenix Market City<br> <b>More Info: </b><a href=/Patt7>click here</a><br> <img src=https://dynamic-media-cdn.tripadvisor.com/media/photo-s/02/9c/f3/75/phoenix-market-city.jpg?w=600&h=-1&s= height=142 width=290></div>`)[0];
            popup_be7d96cbe7fa4142a808a3002f43c019.setContent(html_be47818730aa4bf8b775e0258dbe93d6);
        

        marker_4bc67840ca204994a668bf57bb22dc18.bindPopup(popup_be7d96cbe7fa4142a808a3002f43c019)
        ;

        
    
    
            var marker_617a32f74cd74b01a4782fcbcb3c3299 = L.marker(
                [18.4529, 73.8611],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_4d2e03a0f79946d8902994407b996f8f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_617a32f74cd74b01a4782fcbcb3c3299.setIcon(icon_4d2e03a0f79946d8902994407b996f8f);
        
    
        var popup_b8320ce3626a4a74a8708ac73651e338 = L.popup({"maxWidth": "100%"});

        
            var html_9e9a0c2938b349c288495767bc26c65b = $(`<div id="html_9e9a0c2938b349c288495767bc26c65b" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Rajiv Ghandi Zoological Park<br> <b>More Info: </b><a href=/Patt8>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/Rajiv-Gandhi-Zoological-Park.jpg height=142 width=290></div>`)[0];
            popup_b8320ce3626a4a74a8708ac73651e338.setContent(html_9e9a0c2938b349c288495767bc26c65b);
        

        marker_617a32f74cd74b01a4782fcbcb3c3299.bindPopup(popup_b8320ce3626a4a74a8708ac73651e338)
        ;

        
    
    
            var marker_2276ad4888164818819bfbc41489376c = L.marker(
                [18.5107, 73.8544],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_259ee9b2bccf4b90b02591c581513169 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2276ad4888164818819bfbc41489376c.setIcon(icon_259ee9b2bccf4b90b02591c581513169);
        
    
        var popup_9abb64c5317b47c19d2e4360f21ae653 = L.popup({"maxWidth": "100%"});

        
            var html_ef0db066be97477fa5334d15cd645891 = $(`<div id="html_ef0db066be97477fa5334d15cd645891" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Raja Dinkar Kelkar Museum<br> <b>More Info: </b><a href=/Patt9>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/Raja-Dinkar-Kelkar-Museum.jpg height=142 width=290></div>`)[0];
            popup_9abb64c5317b47c19d2e4360f21ae653.setContent(html_ef0db066be97477fa5334d15cd645891);
        

        marker_2276ad4888164818819bfbc41489376c.bindPopup(popup_9abb64c5317b47c19d2e4360f21ae653)
        ;

        
    
    
            var marker_ef7dc80fbe754895917ba5c267e73d6b = L.marker(
                [18.5187, 73.8566],
                {}
            ).addTo(feature_group_6257c61ef89642a19321d74b31eeb6aa);
        
    
            var icon_0bd44b3990e14a8381a84752aea51e82 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ef7dc80fbe754895917ba5c267e73d6b.setIcon(icon_0bd44b3990e14a8381a84752aea51e82);
        
    
        var popup_2e00c6ef3f37421596b1c5249ae9a291 = L.popup({"maxWidth": "100%"});

        
            var html_2557840e0ba24a4ea6108e5e05c44c68 = $(`<div id="html_2557840e0ba24a4ea6108e5e05c44c68" style="width: 100.0%; height: 100.0%;"><b>Name  : </b>Lal Mahal<br> <b>More Info: </b><a href=/Patt10>click here</a><br> <img src=https://www.treebo.com/blog/wp-content/uploads/2016/01/Lal-Mahal.jpg height=142 width=290></div>`)[0];
            popup_2e00c6ef3f37421596b1c5249ae9a291.setContent(html_2557840e0ba24a4ea6108e5e05c44c68);
        

        marker_ef7dc80fbe754895917ba5c267e73d6b.bindPopup(popup_2e00c6ef3f37421596b1c5249ae9a291)
        ;

        
    
</script>