<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_eeb7f86b7a4b494dada92600dffb4eb1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_eeb7f86b7a4b494dada92600dffb4eb1" ></div>
        
</body>
<script>    
    
            var map_eeb7f86b7a4b494dada92600dffb4eb1 = L.map(
                "map_eeb7f86b7a4b494dada92600dffb4eb1",
                {
                    center: [18.568784770491614, 73.91638218851769],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dc983d08a571463d804d59c55f13edb5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
            var circle_marker_51cf649a98f247c4946c1e7c4442adc2 = L.circleMarker(
                [18.56834643694545, 73.9074313307174],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_f040a292559e4dfa86fad3adfc393b9a = L.popup({"maxWidth": 300});

        
            var html_6fe81103ecb147c2865a4a7f77e7d807 = $(`<div id="html_6fe81103ecb147c2865a4a7f77e7d807" style="width: 100.0%; height: 100.0%;">Dorabjees</div>`)[0];
            popup_f040a292559e4dfa86fad3adfc393b9a.setContent(html_6fe81103ecb147c2865a4a7f77e7d807);
        

        circle_marker_51cf649a98f247c4946c1e7c4442adc2.bindPopup(popup_f040a292559e4dfa86fad3adfc393b9a)
        ;

        
    
    
            var circle_marker_fe2fa643d9d141f1b9c1744bcddeabdc = L.circleMarker(
                [18.56845748483193, 73.90842756155365],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_b6b1c4b4c3ab4a3589823145f61ca7c8 = L.popup({"maxWidth": 300});

        
            var html_ca3b7fdfb03a45a4a2ec1b72c2cfb27a = $(`<div id="html_ca3b7fdfb03a45a4a2ec1b72c2cfb27a" style="width: 100.0%; height: 100.0%;">The Flying Saucer Sky Bar</div>`)[0];
            popup_b6b1c4b4c3ab4a3589823145f61ca7c8.setContent(html_ca3b7fdfb03a45a4a2ec1b72c2cfb27a);
        

        circle_marker_fe2fa643d9d141f1b9c1744bcddeabdc.bindPopup(popup_b6b1c4b4c3ab4a3589823145f61ca7c8)
        ;

        
    
    
            var circle_marker_d9052b5abe5b44489d1ad1fc01da54b9 = L.circleMarker(
                [18.56964257949076, 73.91064593371956],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_7200907fc7fa45078a36847ec0e5c7ae = L.popup({"maxWidth": 300});

        
            var html_9d48daf0ec6e4163b969eb5aaa2296b9 = $(`<div id="html_9d48daf0ec6e4163b969eb5aaa2296b9" style="width: 100.0%; height: 100.0%;">Coffee Jar</div>`)[0];
            popup_7200907fc7fa45078a36847ec0e5c7ae.setContent(html_9d48daf0ec6e4163b969eb5aaa2296b9);
        

        circle_marker_d9052b5abe5b44489d1ad1fc01da54b9.bindPopup(popup_7200907fc7fa45078a36847ec0e5c7ae)
        ;

        
    
    
            var circle_marker_b7686b8b7f2846dfbbcd1617c8cf64ff = L.circleMarker(
                [18.568392, 73.90858],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_9c097b07639d47b28688435460290c7b = L.popup({"maxWidth": 300});

        
            var html_f2c38b9015694b669d8327091f592d63 = $(`<div id="html_f2c38b9015694b669d8327091f592d63" style="width: 100.0%; height: 100.0%;">Subway</div>`)[0];
            popup_9c097b07639d47b28688435460290c7b.setContent(html_f2c38b9015694b669d8327091f592d63);
        

        circle_marker_b7686b8b7f2846dfbbcd1617c8cf64ff.bindPopup(popup_9c097b07639d47b28688435460290c7b)
        ;

        
    
    
            var circle_marker_e556531314d1463fa1bd832178fec93b = L.circleMarker(
                [18.571232, 73.907346],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_babe39c14f6241ffbdc8774a0505b908 = L.popup({"maxWidth": 300});

        
            var html_114b885af0e04538aabe9ce1b69d4904 = $(`<div id="html_114b885af0e04538aabe9ce1b69d4904" style="width: 100.0%; height: 100.0%;">Vimanzza Cafe</div>`)[0];
            popup_babe39c14f6241ffbdc8774a0505b908.setContent(html_114b885af0e04538aabe9ce1b69d4904);
        

        circle_marker_e556531314d1463fa1bd832178fec93b.bindPopup(popup_babe39c14f6241ffbdc8774a0505b908)
        ;

        
    
    
            var circle_marker_bb5ca526db2a475a8cc284390303fc6e = L.circleMarker(
                [18.56907684915282, 73.90880160383219],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_d63744014c37475a9ae72e21dff4a405 = L.popup({"maxWidth": 300});

        
            var html_36837754356543b3927ebed769397c1a = $(`<div id="html_36837754356543b3927ebed769397c1a" style="width: 100.0%; height: 100.0%;">Blue Mushroom</div>`)[0];
            popup_d63744014c37475a9ae72e21dff4a405.setContent(html_36837754356543b3927ebed769397c1a);
        

        circle_marker_bb5ca526db2a475a8cc284390303fc6e.bindPopup(popup_d63744014c37475a9ae72e21dff4a405)
        ;

        
    
    
            var circle_marker_002917d3a7d640e9bac279591d751c99 = L.circleMarker(
                [18.569078221125604, 73.90898532686639],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_c34da752ab7c441c87a5d519c3073df2 = L.popup({"maxWidth": 300});

        
            var html_ce297bb5d10d49f6af86ab29fd6b336f = $(`<div id="html_ce297bb5d10d49f6af86ab29fd6b336f" style="width: 100.0%; height: 100.0%;">Vulcan's</div>`)[0];
            popup_c34da752ab7c441c87a5d519c3073df2.setContent(html_ce297bb5d10d49f6af86ab29fd6b336f);
        

        circle_marker_002917d3a7d640e9bac279591d751c99.bindPopup(popup_c34da752ab7c441c87a5d519c3073df2)
        ;

        
    
    
            var circle_marker_311d302955fb493091bff8d65cbe4fe5 = L.circleMarker(
                [18.56915162136496, 73.90901403357483],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_1818a01cafdb4071b61c211c26cf6e02 = L.popup({"maxWidth": 300});

        
            var html_871d8fc675a945788d4d0b978025d635 = $(`<div id="html_871d8fc675a945788d4d0b978025d635" style="width: 100.0%; height: 100.0%;">Mad Momos</div>`)[0];
            popup_1818a01cafdb4071b61c211c26cf6e02.setContent(html_871d8fc675a945788d4d0b978025d635);
        

        circle_marker_311d302955fb493091bff8d65cbe4fe5.bindPopup(popup_1818a01cafdb4071b61c211c26cf6e02)
        ;

        
    
    
            var circle_marker_57357a12a239478b8924db7560421f7b = L.circleMarker(
                [18.56531, 73.907355],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
    
        var popup_527286c251e44c04b6b6bb4931d73a80 = L.popup({"maxWidth": 300});

        
            var html_5960faa6f5c0480b8b426d7daec3d325 = $(`<div id="html_5960faa6f5c0480b8b426d7daec3d325" style="width: 100.0%; height: 100.0%;">Surya Sagar</div>`)[0];
            popup_527286c251e44c04b6b6bb4931d73a80.setContent(html_5960faa6f5c0480b8b426d7daec3d325);
        

        circle_marker_57357a12a239478b8924db7560421f7b.bindPopup(popup_527286c251e44c04b6b6bb4931d73a80)
        ;

        
    
    
            var feature_group_0ac50249fab941368689eb2612f10520 = L.featureGroup(
                {}
            ).addTo(map_eeb7f86b7a4b494dada92600dffb4eb1);
        
</script>